.view-pane {
  overflow-y: scroll;

  // Absolute positon relative to Pane wrapper from `react-split-pane`
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.transition-progress-bg {
  height: 3px;
  // background: #dadada;
}
.transition-progress {
  height: 100%;
  width: 0%;
  background: #adc8e6;
  transition: width 1.0s linear;
}

.view-pane-related-views-collapse {
  margin-top: 15px;
  height: 5%;
  // Removed to hide related views
  display: none;
}

.view-pane-related-views, .view-pane-related-views-collapse, .view-pane-specific, .view-pane-specific-stretch {
  background: rgba(255,255,255,.6);
}

// Removed to hide related views
.view-pane-specific-stretch {
  // height: 90%;
  height: calc(100% - 16px);
}

.view-pane-related-views {
  margin-top: 20px;
}

.view-pane-gallery {
  @extend .view-pane;
  background: #C6E5E7;
}

.gallery-command {
  margin-left: 10px;
}

.highlighter {
  // box-shadow: 0 0 0 0 rgb(255, 87, 151);
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
  border-radius: 3px;
  // transition: box-shadow 0.3s ease;
  position: absolute;
}

.highlighter-show {
  @extend .highlighter;
  // box-shadow: 0 0 0 3px rgb(255, 87, 151);
  // box-shadow: 0 0 1000px 20px rgba(0,0,0,1);
  box-shadow: 0 0 0 2px #e36d93;
}