$guide-height: 56px;
$sub-pill-height: 20px;
$pill-height: 20px;
$pill-radius: 2px;
$guide-height-expanded: 150px;
$guideline-margin: 8px;

@keyframes appear {
  from {background-color: rgb(255, 238, 87); }
  to {background-color: #FCFCFC; }
}

.guideline {
  background-color: #FCFCFC;

  width: calc(100% - $guideline-margin);
  max-height: $guide-height;
  margin: $guideline-margin;
  border-radius: $pill-radius;
  border: 1px solid rgb(206, 206, 206);

  margin-bottom: 4px;
  overflow: hidden;

  transition: max-height 0.5s ease-in-out, box-shadow 0.1s ease;

  animation-name: appear;
  animation-timing-function: ease-in;
  animation-duration: 1.25s;

  box-shadow: 0 0 7px rgba(0,0,0,0.1);

  // &:hover{
  //   box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);
  // }
}

.expanded {
  @extend .guideline;
  max-height: 900px;
  height: 100%;
}

.guide-header{
  display: flex;
  width: 100%;
  overflow: hidden;
}

.icon{
  width: 30px;
  height: 30px;
  margin-top: 13px;
  margin-left: 10px;
  margin-right: 10px;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
}

.icon-show{
  @extend .icon;
  opacity: 1;
}

.icon-hide{
  @extend .icon;
  opacity: 0;
}

.guide-label{
  flex-grow: 1;
  overflow: hidden;
}

.guide-category-and-title {

  margin: 5px;
  margin-left: 55px;

  user-select: none;
  display: block;
  overflow: hidden;
  white-space: nowrap;

  text-overflow: ellipsis;
  text-decoration: line-through;
  text-decoration-color: transparent;

  transition: text-decoration-color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

.guide-category {
  @extend .guide-category-and-title;

  color: #292929;
  font-size: 12px;
  font-weight: 500;
  line-height: $sub-pill-height;
  height: $sub-pill-height;
}

.guide-hover-highlighter {
  &:hover{
    background-color: #ebcfd7;
  }
  // transition: background-color 0.3s ease-in-out;
}
.guide-category .fa-dim {
  color: #c2c1c1 !important;
}
.guide-title {
  @extend .guide-category-and-title;

  color: #6E6E6E;
  font-size: 14px;
  line-height: $pill-height;
}

.guide-category-done{
  @extend .guide-category;
  text-decoration-color: #c2c1c1;
  color: #c2c1c1;
}

.guide-category-ignore{
  @extend .guide-category;
  color: #c2c1c1;
}

.guide-title-done{
  @extend .guide-title;
  text-decoration-color: #c2c1c1;
  color: #c2c1c1;
}

.guide-title-ignore{
  @extend .guide-title;
  color: #c2c1c1;
}

.decision-button{
  color: black;
  padding-right: 6px;
  line-height: $guide-height;
  height: $guide-height;
}

.splitter{
  flex-grow: 1;
  border-top: 1px solid #D4D4D4;
  margin-top: 4px;
  margin-left: -4px;
  margin-right: -4px;
}

.guide-content{
  flex-grow: 1;

  // margin: 10px 30px 4px 20px;
  color: #a7a7a7;
  border-left: #a9cbd7 10px solid;
  text-align: left;
  padding: 10px;
  padding-right: 20px;
}

.guide-content-text{
  user-select: none;
  display: block;
  overflow: hidden;

  word-wrap:break-word;
  text-overflow: ellipsis;

  font-size: 12px;
  line-height: 18px;
}

.actionable-pane{
  flex-grow: 1;
  // margin: 5px;
  height: 100%;
  border-radius: $pill-radius;
}