$guide-height: 56px;
$sub-pill-height: 20px;
$pill-height: 20px;
$pill-radius: 7px;
$guide-height-expanded: 150px;
$guideline-margin: 8px;

@keyframes appear {
  from {background-color: rgb(255, 238, 87); }
  to {background-color: #FCFCFC; }
}

.guideline {
  background-color: #FCFCFC;

  width: calc(100% - $guideline-margin);
  max-height: $guide-height;
  margin: $guideline-margin;
  border-radius: $pill-radius;

  margin-bottom: 4px;
  padding: 4px;
  overflow: hidden;

  transition: max-height 0.5s ease-in-out, box-shadow 0.1s ease;

  animation-name: appear;
  animation-timing-function: ease-in;
  animation-duration: 1.25s;

  box-shadow: 0 0 7px rgba(0,0,0,0.2);

  &:hover{
    box-shadow: 0 0 0 3px rgb(255, 87, 151);
  }
}

.expanded {
  @extend .guideline;
  max-height: 500px;
  height: 100%;
}

.guide-header{
  display: flex;
  width: 100%;
  overflow: hidden;
}

.fa-gray {
  color: gray;
}

.icon{
  width: 30px;
  height: 30px;
  margin-top: 13px;
  margin-left: 10px;
  margin-right: 10px;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
}

.icon-show{
  @extend .icon;
  opacity: 1;
}

.icon-hide{
  @extend .icon;
  opacity: 0;
}

.guide-label{
  flex-grow: 1;
}

// TODO: add common prop for category and title

.guide-category {
  user-select: none;
  display: block;
  font-size: 12px;
  font-weight: 500;
  text-decoration: line-through;
  text-decoration-color: transparent;
  color: #292929;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  margin: 5px;
  margin-left: 55px;
  line-height: $sub-pill-height;
  height: $sub-pill-height;

  transition: text-decoration-color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

.guide-category-done{
  @extend .guide-category;
  text-decoration-color: #b4b4b4;
  color: #b4b4b4;
}

.guide-title {
  user-select: none;
  display: block;

  color: #6E6E6E;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  font-size: 14px;
  text-decoration: line-through;
  text-decoration-color: transparent;

  margin: 5px;
  margin-left: 55px;
  line-height: $pill-height;

  transition: text-decoration-color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

.guide-title-done{
  @extend .guide-title;
  text-decoration-color: #b4b4b4;
  color: #b4b4b4;
}

.decision-button{
  color: black;
  padding-right: 6px;
  line-height: $guide-height;
  height: $guide-height;
}

.splitter{
  flex-grow: 1;
  border-top: 1px solid #D4D4D4;
  margin-top: 4px;
  margin-left: -4px;
  margin-right: -4px;
}

.guide-content{
  flex-grow: 1;
}

.guide-content-text{
  user-select: none;
  display: block;
  overflow: hidden;

  word-wrap:break-word;
  text-overflow: ellipsis;

  font-size: 12px;
  margin: 4px;
  line-height: 14px;
}

.guide-interactive{
  flex-grow: 1;
  margin: 5px;
  height: 100%;
  border-radius: $pill-radius;
}