// TODO: remove unused

$margin: 4px;
$radius: 3px;

.ac-root {
  position: relative;
}

.guide-previews {
  align-content: center;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
}

.guide-previews-hidden {
  @extend .guide-previews;

  display: none;
}

.guide-preview {
  padding: 7px;
  margin: 5px;
  border-radius: 7px;
  width: 125px;
  display: block;
  text-align: center;
  border: #dedede solid 1px;
  flex-grow: 1;
  cursor: pointer;

  &:hover{
    background-color: rgb(255, 239, 92);
  }
}

.preview-score {
  color: white;
  position: absolute;
  background: #a1deff;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.pros {
  color: #4d4dd1;
}

.cons {
  color: #d55353;
}

.preview-title {
  font-size: 12px;
  // font-weight: bold;
  margin: 0px;
}
.preview-desc {
  color: #545454;
  font-size: 11px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin: 0px 3px 3px 3px;
  text-align: start;
  white-space: pre-line;
  line-height: 18px;
}

.back-button {
  padding: 10px;
  margin-bottom: 4px;
  border-radius: 7px;
  position: absolute;
  right: 0;
  display: block;
  text-align: center;
  // border: #dedede solid 1px;
  flex-grow: 1;
  cursor: pointer;

  &:hover{
    color: #575757;
    // background-color: rgb(255, 239, 92);
  }
}

.back-button-hidden {
  @extend .back-button;
  display: none;
}

.ignore-button {
  padding: 10px;
  margin: 5px;
  border-radius: 7px;
  width: 100%;
  display: block;
  text-align: center;
  border: #dedede solid 1px;
  flex-grow: 1;
  cursor: pointer;

  &:hover{
    background-color: rgb(255, 239, 92);
  }
}
.hidden {
  display: none;
}