$margin: 4px;
$radius: 2px;
$grid-margin: 2px;
$grid-margin-double: 4px;

.ac-root {
  position: relative;
  background: #f0efef;
  padding: $grid-margin;
  padding-bottom: 0px;
  border-top: 1px solid #D4D4D4;
}

.guide-previews {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.guide-previews-hidden {
  @extend .guide-previews;
  display: none;
}

.guide-preview {
  padding: 10px;
  padding-top: 13px;
  margin: $grid-margin;
  background: #fcfcfc;
  // width: 125px;
  display: block;
  text-align: center;
  border: #dedede solid 1px;
  flex-grow: 1;
  cursor: pointer;

  &:hover{
    box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.3);
  }
}

.preview-score {
  color: #b6b6b6;
  padding: 0px;
  margin: 6px;
  font-weight: normal;
}

.pros {
  color: #4d4dd1;
}

.cons {
  color: #d55353;
}

.preview-title {
  font-size: 12px;
  margin: 0px;
  margin-bottom: 4px;
  font-weight: bold;
  color: #2e2e2e;
}
.preview-desc {
  color: #545454;
  font-size: 11px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin: 0px 3px 3px 3px;
  text-align: start;
  white-space: pre-line;
  line-height: 18px;
}

.preview-desc li {
  margin-bottom: 5px;
}

.back-button {
  padding: 10px;
  padding-right: 20px;
  padding-top: 15px;
  margin-bottom: 4px;
  position: absolute;
  right: 0;
  display: block;
  text-align: center;
  flex-grow: 1;
  color: #2e2e2e;
  cursor: pointer;

  &:hover{
    color: #575757;
  }
}

.back-button-hidden {
  @extend .back-button;
  display: none;
}

.ignore-button {
  padding: 10px;
  margin: $grid-margin;
  margin-bottom: $grid-margin-double;
  background: #fcfcfc;
  // width: 100%;
  display: block;
  text-align: center;
  border: #dedede solid 1px;
  flex-grow: 1;
  cursor: pointer;

  &:hover{
    box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.3);
  }
}
.hidden {
  display: none;
}