$margin: 4px;

.field-picker {
  background: #fcfcfc;
  padding: 10px;
  margin: 2px;
  border: #dedede solid 1px;
}

.option-row {
  margin: $margin;
  display: flex;
  justify-content: space-between;
}